@import '../../../variables';

$staking-input-container-color: #ffdfbd;
$staking-input-max-button-color: #ffdfbd;
$token-balance-color: #ffdfbd;

.staking-input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    .amount-to-stake-caption {
        color: white;
        font-weight: $normal-font-weight;
        font-size: $normal-font-size;
        line-height: 42px;
        display: flex;
        align-items: center;
    }

    .available-to-stake-caption {
        font-weight: $normal-font-weight;
        font-size: $normal-font-size;
        line-height: 42px;
        align-items: center;
        text-align: right;
        color: white;
        opacity: 0.5;
    }

    .token-balance {
        font-weight: $bold-font-weight;
        font-size: $normal-font-size;
        line-height: 42px;
        align-items: center;
        color: $token-balance-color;
        margin-left: 10px;
    }

    .staking-input-max {
        color: $staking-input-max-button-color;
        font-size: $normal-font-size;
        width: 20%;
        cursor: pointer;
        line-height: initial;
        margin: 0 15px;
        background: rgba(99, 114, 136, 0.15);
        border-radius: 8px;
        padding: 5px 15px;
    }
}

.staking-input-container {
    background-color: #3f4a5f;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid $staking-input-container-color;
    border-radius: 15px;

    .staking-input {
        border: 0;
        font-weight: $bold-font-weight;
        font-size: $larger-font-size;
        line-height: 46px;
        color: white;
        padding: 0px 15px;
        width: 100%;
    }

    input {
        text-align: start;
    }

    .MuiInputBase-input.MuiInput-input.Mui-disabled {
        -webkit-text-fill-color: $input-disabled-color;
    }

    .staking-input-box {
        display: flex;
        align-items: center;
        width: 90%;

        &-inner {
            display: flex;
            align-items: center;
        }
    }

    .staking-input-symbol {
        display: flex;
        align-items: center;
        color: white;
        padding-left: 30px;

        .staking-symbol-holder {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: $header-box-shadow;
            border-radius: 8px;
            width: 100px;

            img {
                width: 30px;
                height: 26px;
            }

            span {
                color: $white;
                font-weight: $normal-font-weight;
                font-size: $header-font-size;
                line-height: 42px;
            }
        }
    }
}
