@import '../../../variables';
.staking-input-holder {
    .staking-input-header {
        display: flex;
        align-items: center;
        margin: 10px 0;

        .amount-to-stake {
            display: inherit;
            width: 60%;

            &-caption {
                font-size: $normal-font-size;
                font-weight: $normal-font-weight;
                color: $white;
            }
        }

        .available-to-stake {
            display: inherit;
            width: 40%;
            font-size: $normal-font-size;

            &-caption {
                font-weight: $normal-font-weight;
                color: $white;
                opacity: 0.5;
            }

            &-token-balance {
                font-weight: $bold-font-weight;
                color: $color-beige;
                margin-left: 10px;
                opacity: 1;
            }
        }
    }

    .staking-input-container {
        background-color: rgba(30, 37, 57, 0.25);
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid $color-beige;
        border-radius: 15px;

        .staking-input-max {
            color: $color-beige;
            border: 2px solid $color-beige;
            font-size: 16px;
            cursor: pointer;
            line-height: initial;
            margin: 0 10px;
            background: #1e2539;
            border-radius: 18px;
            padding: 7px 10px;
        }

        .staking-input {
            border: 0;
            font-weight: $bold-font-weight;
            font-size: $larger-font-size;
            line-height: 46px;
            color: white;
            padding: 0px 15px;
            width: 100%;

            &.long-input {
                font-size: $header-font-size;
            }
        }

        input {
            text-align: start;
        }

        .MuiInputBase-input.MuiInput-input.Mui-disabled {
            -webkit-text-fill-color: $white;
            font-size: $large-font-size;
        }

        .staking-input-box {
            display: flex;
            align-items: center;
            width: 90%;
            position: relative;

            &-inner {
                display: flex;
                align-items: center;
            }

            .staking-input-token-name {
                position: absolute;
                left: 80px;
                font-weight: $normal-font-weight;
                font-size: $normal-font-size;
                color: #999999;
            }
            .invisible-token-name {
                display: none;
            }
        }
    }
}
