@import '../../../variables';

.buttons-holder {
    background: $buttons-holder-background-color !important;
    border-radius: 16px;
    height: 80px;

    &.active {
        background-color: $second-blue !important;

        .staking-button {
            opacity: 1;
        }
    }
}

.staking-button {
    height: 80px;
    padding: 0;
    width: 100%;
    color: white !important;
    font-weight: bold !important;
    font-size: $title-font-size !important;
    text-transform: none !important;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}
