@import './variables.scss';

@mixin styled-scroll-bar {
    /* width */
    ::-webkit-scrollbar {
        width: 2px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: $input-disabled-color;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $dark-gray;
        border-radius: 10px;
    }
}
