@import 'variables';

body {
    margin: 0;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.MuiTypography-root,
.MuiButton-root {
    font-family: 'Inter' !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.App {
    text-align: center;
    display: flex !important;
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
}

.App {
    display: block;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
    // Use background image instead
    // background-color: #0c121e;
}

.container {
    display: grid;
    grid-template-rows: 50% 50%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.list {
    background-color: white;
    border-left: 5px solid black;
    border-right: 5px solid black;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .container {
        max-width: 1300px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: revert;
    }
    .selected-container {
        box-sizing: border-box;
        padding: 16px;
        height: 100%;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

a {
    text-decoration: none;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
