$transparent: transparent;
$white: #ffffff;
$black: #191c1f;
$main-brown: #ffdfbd;
$grey-btn: #475267;
$grey-btn-border: #485267;
$modal-back: #151c2a;
$switch-back: #111420;
$input-border: #acacc2;
$btn-blue: #205bea;
$btn-main: #02acd1;
$wallet-options: #363c4b;
$wallet-options-hover: #798192;
$cube: #29303e;
$asset-balance: rgba(150, 172, 214, 0.4);
$asset-growth: #0eae00;
$asset-fall: #d01111;
$table-header-grey: #6c757e;
$nav-grey: #394047;
$nav-border: #191c1f;
$report: #fa3c30;
$main-background: #0c121e;
$main-text: #bbbbbb;
$grey-text: rgba(255, 255, 255, 0.5);
$main-heading-span: #ffdfbd;
$blue-linear: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.12) 0%,
        rgba(255, 255, 255, 0) 100%
    ),
    #205bea;
