@import '../../variables.scss';

$zafari-faucet-container-background: rgba(43, 51, 65, 0.5);
$zafari-faucet-container-border-color: #485267;
$welcome-message-color: #d2d2d2;
$details-card-background: rgba(99, 114, 136, 0.2);
$token-symbol-color: #ffdfbd;

.zafari-faucet-container {
    box-sizing: border-box;
    background: $zafari-faucet-container-background !important;
    mix-blend-mode: normal;
    border: 1.5px solid $zafari-faucet-container-border-color;
    backdrop-filter: blur(50px);
    border-radius: 16px !important;
    display: inline-block;

    #title {
        font-weight: 700;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white;
    }

    #welcome-message {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $welcome-message-color;
        margin-top: 30px;
        margin-bottom: 50px;

        a {
            color: $white;
            text-decoration: underline;
        }
    }

    .details {
        box-sizing: border-box;
        background: $details-card-background;
        mix-blend-mode: normal;
        backdrop-filter: blur(40px);
        border-radius: 14px;

        .details-row {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 38px;

            #caption {
                font-weight: 800;
                align-items: center;
                color: $white;
            }

            #token-symbol {
                color: $token-symbol-color;
            }

            #polygon-icon {
                padding-right: 8px;
                width: 30px;
            }
        }
    }

    .connect-button {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}
