@import '../../variables';

.contracts-page-container {
    .table-title {
        color: $white;
        font-size: 24px;
    }

    .table-head {
        color: $white;
        font-weight: bold;
    }

    .contract-address {
        a {
            color: #ffdfbd;
        }
    }

    .contracts-table-container {
        max-width: max-content;
        margin: 0 auto;
        margin-bottom: 100px;
        @media (max-width: $medium-screen-size) {
            width: 90%;
        }

        .contracts-table {
            min-width: unset;
        }
    }
}
