@import '../../variables';

.contracts-page-container {
    .MuiTable-root,
    .MuiTableContainer-root {
        background: transparent !important;
    }
    .table-title {
        color: $white;
        font-size: 24px;
    }

    .table-head {
        color: $white;
        font-weight: bold;
    }
    .MuiTableBody-root .MuiTableRow-root {
        background: linear-gradient(
            0deg,
            rgba(146, 159, 183, 0.35),
            rgba(146, 159, 183, 0.35)
        );
    }

    .contract-address {
        a {
            color: #ffdfbd;
        }
    }

    .contracts-table-container {
        max-width: max-content;
        margin: 0 auto;
        margin-bottom: 100px;
        @media (max-width: $medium-screen-size) {
            width: 90%;
        }

        .contracts-table {
            min-width: unset;
        }
    }
}
