.main-page {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    flex: 1 1 auto;
    background-position: center;
    background-size: cover;
    padding-bottom: 5px;
    min-height: 100vh;

    &.isBlur {
        flex-grow: 1;
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    .header-container {
        min-height: 10vh;
    }

    .body-container {
        min-height: 78vh;
        padding-top: 100px;
        padding-bottom: 10px;
    }

    .footer-container {
        min-height: 10vh;
    }
}
