# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
artifacts/
build/
cache/
contracts/testing/**/data/
coverage/
coverage.json
dist/
node_modules/
tmp/
typechain/
typing/

.env
.env.*
*.log
*.tsbuildinfo
yarn-debug.log*
yarn-error.log*

/.idea
.vscode
