build/
contracts/artifacts/
contracts/cache/
contracts/coverage/
contracts/coverage.json
contracts/typechain/
contracts/typing/
dapp/public/preparation/
.husky/_/
node_modules/
tmp/
package-lock.json
yarn.lock
*.orig
*.png
*.svg
.env
.env.*
