build/
circuits/circuits/*.circom
circuits/circuits/*/*.circom
circuits/test/*.sh
circuits/test/circuits/*.circom
circuits/test/data/*.info
circuits/test/data/*.keys
circuits/test/data/*.tar.gz

contracts/artifacts/
contracts/cache/
contracts/contracts/common/proxy/
contracts/coverage.json
contracts/coverage/
contracts/deployments/
contracts/staging/
contracts/scripts/slither.patch
contracts/tenderly.yaml
contracts/test/advanced-staking/assets/*.ods
contracts/testing/**/*.cli.js
contracts/testing/**/data
contracts/typechain/
contracts/types/
contracts/typing/

crypto/coverage/
crypto/lib/

dapp/public/preparation/
dapp/src/types/blake-hash/
dapp/src/types/circomlibjs/
dapp/src/types/contracts/
dapp/src/types/ffjavascript/


.env
.env.*
.eslintignore
.gitignore
.gitmessage
.husky/_/
.prettierignore
.yarn-cache
.yarn/
*.orig
*.png
*.puml
*.svg
node_modules/
package-lock.json
plantuml.skin
tmp/
yarn.lock
