@import '../../variables';

.add-token-button-holder {
    .add-token-button {
        color: $white;
        height: 50px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        background: $grey-btn;
        border-radius: 8px;
        cursor: pointer;
        text-transform: capitalize;
        min-width: 135px;

        &:hover {
            background: $second-blue;
        }
    }
}
