@import '../variables.scss';

.dropdown-button-container {
    display: flex;
    height: 45px;
    padding: 6px 15px;
    border-radius: 10px;
    width: 201px;
    background: rgba(99, 114, 136, 0.2);
    border-radius: 10px;
    > div {
        width: 100%;
    }
    &.open {
        border: 1px solid rgba(102, 141, 198, 0.4);
    }

    .dropdown-button-holder {
        display: flex;
        justify-content: space-between;
        width: 100%;

        color: $white;
        img {
            width: 30px;
            height: auto;
        }
    }

    label {
        top: 3px !important;
        transition: none !important;
        transform: none !important;
        overflow: initial;
        display: flex;
        width: 100%;

        &:focus {
            top: 10px !important;
            left: 10px;
        }
    }

    .MuiFilledInput-root:before,
    .MuiFilledInput-root:after {
        display: none;
    }

    .MuiSelect-select {
        margin-top: -26px !important;
        width: 200px !important;
        height: 50px !important;
        color: $white !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: transparent !important;
    }
}
