@import '../variables.scss';

.dropdown-button-container {
    display: flex;
    height: 45px;
    padding: 6px 16px 6px 12px;
    border-radius: 10px;
    width: 201px;
    background: rgba(99, 114, 136, 0.2);
    border-radius: 10px;

    @media (max-width: $normal-screen-size) {
        height: 36px;
        width: 169px;
        padding: 6px 12px 6px 14px;
    }

    @media (max-width: $tiny-screen-size) {
        padding-left: 35px;
        width: 100%;
    }

    > div {
        width: 100%;
    }
    &.open {
        outline: 1px solid rgba(102, 141, 198, 0.4);
    }

    .dropdown-button-holder {
        display: flex;
        justify-content: space-between;
        width: 100%;

        color: $white;
        img {
            width: 30px;
            height: auto;

            @media (max-width: $normal-screen-size) {
                width: 19px;
            }
        }
    }

    label {
        top: 3px;
        transition: none;
        transform: none;
        overflow: initial;
        display: flex;
        width: 100%;

        &:focus {
            top: 10px;
            left: 10px;
        }

        @media (max-width: $normal-screen-size) {
            top: 0;
        }
    }

    .MuiFilledInput-root:before,
    .MuiFilledInput-root:after {
        display: none;
    }

    .MuiSelect-select {
        bottom: 26px;
        position: relative;
        width: 200px;
        height: 50px !important;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input:focus {
        background-color: transparent;
    }
}
