@import '../variables.scss';

.dropdown-button-container {
    display: flex;
    height: 45px;
    padding: 6px 15px;
    border-radius: 10px;
    width: 201px;
    background: rgba(99, 114, 136, 0.2);
    border-radius: 10px;
    > div {
        width: 100%;
    }
    &.open {
        border: 1px solid rgba(102, 141, 198, 0.4);
    }

    .dropdown-button-holder {
        display: flex;
        justify-content: space-between;
        width: 100%;

        color: $white;
        img {
            width: 30px;
            height: auto;
        }
    }

    label {
        top: 3px;
        transition: none;
        transform: none;
        overflow: initial;
        display: flex;
        width: 100%;

        &:focus {
            top: 10px;
            left: 10px;
        }
    }

    .MuiFilledInput-root:before,
    .MuiFilledInput-root:after {
        display: none;
    }

    .MuiSelect-select {
        bottom: 26px;
        position: relative;
        width: 200px;
        height: 50px !important;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
}
