@import '../../../../../../../variables.scss';
@import '../../../../../../../styles/modal-dialog.scss';

.redeem-dialog {
    .confirm-redemption-checkbox {
        .MuiFormControlLabel-root .MuiFormControlLabel-label {
            font-weight: $bold-font-weight;
            font-size: $header-font-size;
        }

        margin: 15px 0px;
        display: flex;
        align-content: space-around;
        color: $highlighted-text;
    }

    .redeem-action {
        display: flex;
        align-items: center;
        justify-content: space-around !important;
        margin: 20px 24px !important;
        background: $grey-btn;
        border-radius: 14px;

        &.active {
            color: $white;
            background: $btn-blue;
        }

        .MuiButton-root.MuiButton-text {
            text-align: center;
            font-weight: $semi-bold-font-weight;
            font-size: $title-font-size;
            height: 40px;
            box-shadow: none;
            text-transform: none;
            color: $black;
        }
    }

    strong {
        font-weight: 800;
    }
}

.redeem-button.MuiButtonBase-root.MuiButton-root {
    background: $btn-blue;
    color: $white;
    padding: 10px 20px;
    margin: 10px 15px;
    border-radius: 8px;
    text-transform: none;
}
