@import '../../../variables.scss';

.wrong-network-container {
    width: 100%;
    position: relative;

    .wrong-network-box {
        display: flex;
        justify-content: space-between;
        background: $card-background-darker;
        opacity: 0.4;
        border-radius: 15px;
        padding: 21.25px 17.75px;
        margin-bottom: 38px;
        height: 111px;

        @media (max-width: $medium-screen-size) {
            height: 250px;
            padding: 0;
            margin-bottom: 20px;
        }

        @media (max-width: $semi-smaller-screen-size) {
            height: 285px;
        }
    }
    .content {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        top: 21px;
        width: 100%;
        padding: 0 22px 0 23px;

        @media (max-width: $medium-screen-size) {
            flex-direction: column;
            align-items: center;
            padding: 0 12px;
            top: 5px;
        }

        .info-box {
            display: flex;

            .img {
                position: relative;
                top: 17px;
                width: 43px;
                height: 40px;

                @media (max-width: $medium-screen-size) {
                    right: 0;
                    width: 46px;
                    height: 46px;
                }
            }

            .divider {
                position: relative;
                bottom: 20px;
                background: rgba(255, 255, 255, 0.2);
                opacity: 0.2;
                border-width: 1px;
                margin: 0 23px 0 16px;
                height: 110px;
                @media (max-width: $medium-screen-size) {
                    display: none;
                }
            }

            .text-wrapper {
                @media (max-width: $medium-screen-size) {
                    padding: 0 10px;
                }

                .text {
                    font-weight: $bold-font-weight;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    color: $white;
                    @media (max-width: $medium-screen-size) {
                        justify-content: center;
                        margin-top: 30px;
                    }
                }

                .sub-text {
                    font-weight: $normal-font-weight;
                    font-size: $smaller-font-size;
                    opacity: 0.7;
                    line-height: 17px;
                    text-align: left;
                    margin-top: 8px;
                    @media (max-width: $medium-screen-size) {
                        text-align: justify;
                    }
                }
            }

            @media (max-width: $medium-screen-size) {
                flex-direction: column;
                align-items: center;
            }
        }

        .switch-btn {
            width: 232px;
            height: 47.5px;
            @media (max-width: $medium-screen-size) {
                width: 70%;
                margin: 20px 0 0 0;
            }
            .primary-action-button {
                font-size: $normal-font-size;
            }
        }
    }
}
