@import '../../../../variables.scss';
@import '../../../../styles/modal-dialog.scss';

.redeem-dialog {
    .content-body {
        font-size: 0.95em;

        li {
            text-align: start;
        }
    }

    .confirm-redemption-checkbox {
        .MuiFormControlLabel-root .MuiFormControlLabel-label {
            font-weight: $bold-font-weight;
            font-size: $header-font-size;
        }

        margin: 15px 0px;
        display: flex;
        align-content: space-around;
        color: $highlighted-text;
    }

    strong {
        font-weight: 800;
    }
    .redeem-action-holder {
        width: 100%;
        margin: 20px 24px;

        //use this cusom style to override the default style for PrimaryActionButton
        .custom-style {
            height: 55px;
        }
        .notActive {
            color: $black;
            background: $grey-btn;
        }
    }
}
