@import '../../variables';

.address-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .user-avatar {
        width: 34px;
        height: 34px;
        margin-left: 18px;
        margin-top: 3px;

        @media (max-width: $medium-screen-size) {
            width: 20px;
            height: 20px;
            margin-left: 5px;

            > div {
                width: 20px !important;
                height: 20px !important;
            }
        }
    }

    .account-address {
        font-size: $normal-font-size;
        line-height: 48px;
        margin: 0 18px;

        @media (max-width: $medium-screen-size) {
            font-size: 14px;
            margin: 0 10px;
        }
    }

    .content-copy-icon {
        opacity: 0.6;
        width: 21px;
        margin-top: 4px;
        cursor: pointer;
    }
}
