@import '../../variables.scss';

$advanced-staking-rewards-background: rgba(202, 223, 255, 0.1);
$progress-foreground-color: linear-gradient(
    92.53deg,
    $color-beige 0%,
    #d0a7a8 95.77%
);
$progress-background-color: rgba(99, 114, 136, 0.2);
$remaining-days-card-background: rgba(99, 114, 136, 0.2);
$remaining-days-text-color: $color-beige;
.advanced-staking-rewards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $advanced-staking-rewards-background;
    border-radius: 15px;
    margin-bottom: 15px;

    .claimed-progress {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        .title {
            font-weight: $normal-font-weight;
            font-size: $small-font-size;
            display: flex;
            align-items: center;
            color: $color-beige;
        }

        .progress-holder {
            width: 100%;

            .progress {
                margin: 13px 0;
                background: $progress-background-color;
                height: 7px;
                border-radius: 13px;

                span {
                    width: 50%;
                    height: 3px;
                    top: 2px;
                    left: 2px;
                    background: $progress-foreground-color;
                    border-radius: 13px;
                    animation: none;
                }
            }
        }

        .claimed-value {
            font-weight: $normal-font-weight;
            font-size: $small-font-size;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: $white;
            opacity: 0.7;
        }
    }

    .remaining-days,
    .staking-apr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $remaining-days-card-background;
        border-radius: 15px;
        width: 180px;
        height: 76px;
        padding: 10px 0;
        margin: 15px 0;

        .value {
            display: flex;
            align-items: center;
            text-align: center;
            font-weight: $semi-bold-font-weight;
            font-size: $large-font-size;
            color: $white;

            span {
                font-size: $big-font-size;
                padding-left: 5px;
            }
        }

        .text {
            font-weight: $normal-font-weight;
            font-size: $small-font-size;
            color: $remaining-days-text-color;
        }
    }
}
