@import '../../variables.scss';

$advanced-staking-rewards-background: rgba(202, 223, 255, 0.1);

$remaining-days-card-background: rgba(99, 114, 136, 0.2);
$remaining-days-text-color: $color-beige;
.advanced-staking-rewards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: $advanced-staking-rewards-background;
    border-radius: 15px;
    margin-bottom: 15px;

    .remaining-days,
    .staking-apr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $remaining-days-card-background;
        border-radius: 15px;
        width: 180px;
        height: 76px;
        padding: 10px 0;
        margin: 15px 0;

        .value {
            display: flex;
            align-items: center;
            text-align: center;
            font-weight: $semi-bold-font-weight;
            font-size: $large-font-size;
            color: $white;

            span {
                font-size: $big-font-size;
                padding-left: 5px;
            }
        }

        .text {
            font-weight: $normal-font-weight;
            font-size: $small-font-size;
            color: $remaining-days-text-color;
        }
    }
}
