@import '../../variables';

.balance-card-holder {
    .balance-card {
        margin: auto;
        border-radius: 16px;
        min-height: 135px;
        background: $card-background;
        color: $white;
        padding-top: 30px;
    }

    .MuiToggleButtonGroup-root {
        display: inline-flex;
        justify-content: center;
        background: $toggle-button-group-color;
        mix-blend-mode: normal;
        backdrop-filter: blur(50px);
        border-radius: 8px !important;

        .Mui-selected {
            background-color: $selected-item-color;
            opacity: 1;
            &:hover {
                background: $selected-item-color;
            }
        }
        button {
            font-size: 14px;
            min-width: 150px;
            height: 45px;
            text-transform: capitalize;
            color: $white;
            background-color: transparent;
            border-radius: 8px !important;
            opacity: 0.5;
            &::hover {
                background-color: $selected-item-color !important;
            }
        }
    }
    @media (max-width: 600px) {
        min-width: 120px;
    }
}
