@import '../../variables';

.advanced-balance-card-holder {
    border: 1px solid rgba(102, 141, 198, 0.4);
    mix-blend-mode: normal;
    box-sizing: border-box;
    box-shadow: 0px 3.58957px 13.4609px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(36px);
    border-radius: 22px;

    .advanced-balance-card {
        margin: auto;
        border-radius: 22px;
        min-height: 135px;
        background: rgba(24, 21, 51, 1);
        color: $white;
        padding: 34px 29px 30px;
        @media (max-width: $medium-screen-size) {
            padding: 25px 7px 13px;
        }
    }

    .MuiToggleButtonGroup-root {
        display: inline-flex;
        justify-content: center;
        background: rgba(99, 114, 136, 0.2);
        mix-blend-mode: normal;
        backdrop-filter: blur(50px);
        border-radius: 13px;

        @media (max-width: $medium-screen-size) {
            margin: 0 auto;
            width: 85%;
        }

        .Mui-selected {
            border-radius: 13px !important;
            background-color: #1e2539;
            border-left: 2px solid $color-beige !important;
            border: 2px solid $color-beige;
            opacity: 1;

            &:hover {
                background: #1e2539;
            }
        }

        button {
            font-size: $normal-font-size;
            font-weight: $bold-font-weight;
            min-width: 150px;
            height: 45px;
            text-transform: capitalize;
            color: $white;
            background-color: transparent;
            opacity: 0.7;

            @media (max-width: $medium-screen-size) {
                font-size: $small-font-size;
                min-width: 50%;
                line-height: normal;
            }

            &:hover {
                background-color: $selected-item-color;
                border-radius: 13px;
            }
        }
    }

    @media (max-width: 600px) {
        min-width: 120px;
    }

    .css-46bh2p-MuiCardContent-root {
        padding: 0;

        &:last-child {
            padding: 0;
        }
    }
}
