@import '../../variables';

.MuiCard-root {
    padding: 16px;
    color: $white !important;
}

.balance-card {
    margin: auto;
    border-radius: 16px;
    min-height: 135px;
    background: $card-background;
    color: $white;
    text-align: start;
}

.subtitle {
    font-size: 18px !important;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0;
    text-align: left;
}

.balance-value {
    font-weight: bold !important;
}

.big-number {
    font-weight: 800 !important;
    font-size: 31px !important;
    margin-inline-end: 8px !important;
}

.subtitle-light {
    color: $light-gray;
    font-size: 14px !important;
    margin-inline-end: 16px !important;
    line-height: 30px !important;
}

.secondary-dark {
    color: $white;
    opacity: 0.5;
    font-weight: 700;
}

.full-width-btn {
    width: 100%;
    color: $white !important;
    border: 1.5px solid $border-button !important;
    text-transform: capitalize !important;
    border-radius: 8px !important;
    height: 43.5px;
    padding: 4px 8px !important;
}

.subtitle-summary {
    color: $white;
    font-weight: 700;
}

.MuiToggleButtonGroup-root button.Mui-selected {
    // opacity: 1;
    color: $white;
    background-color: $selected-item-color;
    border-radius: 8px !important;
}

.MuiToggleButtonGroup-root button {
    // padding: 8px;
    border: none !important;
    font-size: 14px;
    min-width: 150px;
    height: 45px;
    text-transform: capitalize;
    color: $white;
    // opacity: 0.5;
    background-color: $button-group-item;
    border-radius: 8px !important;
}

.MuiToggleButtonGroup-root {
    padding: 12px;
    // background-color: $button-group;
    border-radius: 10px !important;
    margin-top: 12px;
}

.warning-box {
    text-align: start;
    margin-top: 32px;
    margin-bottom: 0;
    border: 1px solid $warning-box;
    height: auto;
    background-image: linear-gradient(216deg, #0000007a, transparent);
    padding: 16px;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.card-container {
    align-items: flex-start;
    margin-top: 32px !important;
}

.warning-box .MuiSvgIcon-root {
    fill: yellow;
    margin-inline-end: 8px;
    margin-bottom: 20px;
}

.error-outline {
    margin-left: 4px;
    margin-bottom: -5px;
}

#price-unit {
    color: $price-unit !important;
    font-size: 14px;
}

.MuiTable-root {
    border-collapse: separate !important;
    border-spacing: 0 8px !important;
}

.MuiTable-root,
.MuiTableContainer-root {
    background-color: $transparent !important;
}

.MuiTableRow-head th {
    font-weight: 500;
    font-size: 14px;
    color: $white;
    opacity: 0.5;
}

.MuiTableCell-root {
    border-bottom: none !important;
    color: $white !important;
    font-weight: 500;
    font-size: 16px;
}

.MuiTableBody-root .MuiTableRow-root {
    background: $table-background;
    border-radius: 8px;
}

.MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:first-child {
    border-radius: 8px 0 0 8px;
}

.MuiTableBody-root .MuiTableRow-root .MuiTableCell-root:last-child {
    border-radius: 0 8px 8px 0;
}

.MuiTable-root .btn {
    color: $white;
    background: $second-blue;
    border-radius: 6px;
    text-transform: capitalize;
    width: 116px;
    height: 35px;
    font-size: 12px !important;

    &:hover {
        background: $second-blue;
    }
}

.MuiTable-root .disable.btn {
    color: $white;
    background: $table-background;
}

@media (max-width: 680px) {
    .css-1umk77v {
        flex-direction: column;
        height: auto !important;
    }

    .css-69i1ev {
        flex-direction: column;
    }
}
