@import '../../variables';

$advanced-balance-card-holder-background: linear-gradient(
        180deg,
        rgba(152, 195, 245, 0.05) 0%,
        rgba(152, 195, 245, 0) 72%
    ),
    rgba(164, 183, 219, 0.1);
$advanced-balance-card-holder-border-color: 1px solid rgba(102, 141, 198, 0.4);
$toggle-buttons-background: rgba(99, 114, 136, 0.2);
$selected-toggle-button-background: rgba(99, 114, 136, 0.4);
$selected-toggle-button-color: #1e2539;
$selected-toggle-button-hover-color: #1e2539;

.advanced-balance-card-holder {
    background: $advanced-balance-card-holder-background;
    border: 1px solid $advanced-balance-card-holder-border-color;
    mix-blend-mode: normal;
    box-sizing: border-box;
    box-shadow: 0px 3.58957px 13.4609px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1000px);
    border-radius: 22px;
    // width: 80%;

    .advanced-balance-card {
        margin: auto;
        border-radius: 16px;
        min-height: 135px;
        background: $card-background;
        color: $white;
        padding-top: 30px;
        border-color: transparent;
    }

    .MuiToggleButtonGroup-root {
        display: inline-flex;
        justify-content: center;
        background: $toggle-buttons-background;
        mix-blend-mode: normal;
        backdrop-filter: blur(50px);
        border-radius: 13px;

        .Mui-selected {
            border-radius: 13px !important;
            background-color: $selected-toggle-button-color;
            border-left: 2px solid $color-beige !important;
            border: 2px solid $color-beige !important;
            opacity: 1;

            &:hover {
                background: $selected-toggle-button-hover-color;
            }
        }

        button {
            font-size: $small-font-size;
            min-width: 150px;
            height: 45px;
            text-transform: capitalize;
            color: $white;
            background-color: transparent;
            opacity: 0.7;

            &:hover {
                background-color: $selected-item-color;
                border-radius: 13px;
            }
        }
    }

    @media (max-width: 600px) {
        min-width: 120px;
    }
}
