@import '../../../variables';

$staking-tab-background: rgba(99, 114, 136, 0.2);

.expected-rewards-card {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    background: transparent;

    .MuiBox-root {
        background-color: transparent;
    }

    .expected-rewards-card-title {
        font-weight: $bold-font-weight;
        font-size: $normal-font-size;
        padding: 10px 16px;
        background: linear-gradient(92.53deg, #ffdfbd 0%, #d0a7a8 95.77%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .expected-rewards-card-container {
        background: $staking-tab-background;
        padding: 5px 16px;
        border-radius: 10px;
        flex-direction: column;
        width: 100% !important;

        .expected-rewards-card-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font-weight: $normal-font-weight;
                font-size: $normal-font-size;
                line-height: 38px;
                display: flex;
                align-items: center;
                background: $white;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;

                div {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-width: 100%;
                    }
                }
            }

            .amount {
                font-weight: $bold-font-weight;
                font-size: $normal-font-size;
                text-align: right;
                background: linear-gradient(
                    92.53deg,
                    #ffdfbd 0%,
                    #d0a7a8 95.77%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }
}
