@import '../../variables';

.small-btn-holder {
    .small-btn {
        font-weight: 800;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: $main-brown;
        background: rgba(255, 255, 255, 0.02);
        border: 1.25px solid rgba(120, 154, 205, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        width: 100px;
        height: 28px;
        text-transform: capitalize;
    }
}
