@import '../../variables.scss';

.claimed-progress-container {
    @media (max-width: $medium-screen-size) {
        width: 100%;
    }
    .claimed-progress {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        max-width: 370px;

        .title {
            font-weight: $normal-font-weight;
            font-size: $small-font-size;
            display: flex;
            align-items: center;
            color: $color-beige;
        }

        .progress-holder {
            width: 100%;

            .progress {
                margin: 13px 0;
                background: $card-background-darker;
                height: 7px;
                border-radius: 13px;

                span {
                    height: 3px;
                    top: 2px;
                    left: 2px;
                    background: linear-gradient(
                        92.53deg,
                        $color-beige 0%,
                        #d0a7a8 95.77%
                    );
                    border-radius: 13px;
                    animation: none;
                }
            }
        }

        .claimed-value {
            font-weight: $normal-font-weight;
            font-size: $small-font-size;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: $white;
            opacity: 0.7;
        }
    }
}
