.footer-holder {
    width: 100% !important;
    display: flex !important;
    flex: 1;
    position: relative;
    bottom: 0;

    .footer-links {
        display: flex;
        justify-content: end;
    }

    .footer-socials {
        display: flex;
        justify-content: start;
    }
}
