@import '../../variables.scss';

.footer-holder {
    width: 100% !important;
    position: relative;
    bottom: 0;

    @media (max-width: $medium-screen-size) {
        bottom: 20px;
    }

    .title {
        display: none;
        @media (max-width: $medium-screen-size) {
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(217, 218, 223, 1);
            font-size: $bigger-font-size;
            font-weight: $bold-font-weight;
        }

        img {
            width: 42px;
            height: 42px;
            margin-right: 10px;
        }
    }

    .footer-socials {
        display: flex;
        justify-content: start;
    }
    @media (max-width: $medium-screen-size) {
        flex-direction: column-reverse !important;
        align-items: center;
    }
}
