@import '../../variables';

.unstake-table {
    .MuiPaper-root.MuiTableContainer-root {
        box-shadow: none !important;

        .MuiTable-root {
            min-width: 400px;

            thead {
                th {
                    font-weight: $normal-font-weight;
                    font-size: $small-font-size;
                    color: $color-beige !important;
                    opacity: 1;
                }
            }
        }
    }
}
