@import '../../variables.scss';

.advanced-staking-coming-soon-card {
    background: transparent !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
    border: 1px solid $grey-btn-border !important;

    p {
        padding: 0 15px;
        font-style: normal;
        text-align: left;
    }

    a {
        color: $white;
        text-decoration: underline;
    }

    .card-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 42px;
        color: $white;
    }

    .card-text {
        margin: 10px 0;
        font-size: 16px;
        line-height: 26px;
        color: $white;
        opacity: 0.7;
    }
}
