# If you add variables here, make sure to add them to the check in
# src/index.tsx too.

NODE_ENV=development

STAKING_CONTRACT=0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9
REWARDS_MASTER_CONTRACT=0x5FC8d32690cc91D4c39d9d3abcBD16989F875707
VESTING_POOLS_CONTRACT=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
MINTER_ADDRESS=0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9

# SUGGESTED_RPC_URL doesn't have to be set, but can override default
# suggestion when the network is missing and wallet_addEthereumChain
# is called to add it.

# For use with Hardhat Network
CHAIN_ID=31337
#SUGGESTED_RPC_URL=http://127.0.0.1:8545/

# mumbai (Polygon testnet)
#CHAIN_ID=80001
#SUGGESTED_RPC_URL=...

# matic (Polygon mainnet)
#CHAIN_ID=137
#SUGGESTED_RPC_URL=...

TOKEN_SYMBOL=panther-protocol

SASS_PATH=node_modules:src
