@import '../../../variables';

.unstake-button {
    color: $white !important;
    font-size: $normal-font-size !important;
    font-weight: $light-font-weight !important;
    mix-blend-mode: normal;
    border-radius: 10px !important;
    backdrop-filter: blur(36px);
    background: $btn-blue !important;
    padding: 0 0 1px !important;
    text-transform: none !important;
    line-height: normal;
    width: 184px;
    height: 39px;
    @media (max-width: $semi-large-screen-size) {
        width: 150px;
    }

    @media (max-width: $medium-screen-size) {
        width: 100%;
    }

    &:hover {
        background: $second-blue;
    }

    &.locked {
        color: $input-border !important;
        background: rgba(164, 183, 219, 0.1) !important;
        box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.15) !important;
        backdrop-filter: blur(36px) !important;
    }
}
