@import '../../variables.scss';

.staking-container {
    padding: 0 !important;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    @media (min-width: $large-screen-size) {
        max-width: 1035px !important;
    }

    .apy-staking-right-panel {
        padding-left: 0 !important;
        @media (min-width: $large-screen-size) {
            max-width: 612px;
        }
    }
}
