@import '../../variables.scss';

.staking-container {
    padding: 0 !important;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    @media (min-width: $large-screen-size) {
        max-width: 1035px !important;
    }

    .apy-staking-right-panel {
        @media (min-width: ($large-screen-size + 1)) {
            max-width: 612px;
        }

        @media (max-width: $large-screen-size) {
            margin: 0 16px;
        }

        @media (max-width: $medium-screen-size) {
            width: 100%;
        }
    }
}
