@import '../../variables';

.welcome-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright {
    color: $white;
    position: relative;
    margin: 0;
    top: 40px;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.5;
}
