@import '../../../../variables.scss';

.assets-details-table_container {
    @media (max-width: $medium-screen-size) {
        margin: 0;
        padding: 0;
    }
    .assets-details-table_table {
        .assets-details-table_header {
            @media (max-width: $medium-screen-size) {
                display: none;
            }
            .assets-details-table_header-row {
                background: transparent;
                mix-blend-mode: normal;
                box-sizing: border-box;
                border-radius: 0px;
                padding: 10px;

                .assets-details-table_header-cell {
                    width: 27%;
                    text-align: left;
                    opacity: unset;
                    font-size: $normal-font-size;
                    font-weight: $light-font-weight;

                    &:first-child {
                        text-align: center;
                    }

                    &:nth-child(2) {
                        padding-left: 101px;
                    }

                    &:nth-child(3) {
                        padding-left: 35px;
                        padding-right: 0;
                    }

                    .tooltip-icon {
                        padding-left: 7px;
                        position: relative;
                        top: 4px;
                        cursor: pointer;
                    }
                }

                .fixed-deposit-date-padding {
                    &:nth-child(2) {
                        padding-left: 13px;
                    }
                }
            }
        }

        .wrong-network {
            display: none;
        }

        .zassets-pagination {
            position: relative;
            left: 300px;
        }
    }
}
