@import '../../variables.scss';

.welcome-container {
    margin: 0 auto;
    width: max-content;
    height: max-content;
    background: rgba(198, 209, 231, 0.1);
    mix-blend-mode: normal;
    border: 1px solid rgba(102, 141, 198, 0.4);
    border-radius: 22px;
    padding: 10px;

    @media (max-width: $medium-screen-size) {
        width: 90%;
    }

    .welcome-title {
        text-align: center;
        font-weight: $semi-bold-font-weight;
        font-size: 29px;
        line-height: 42px;
        background: linear-gradient(92.53deg, #ffdfbd 0%, #d0a7a8 95.77%);
        color: #fedebd;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 30px;
        margin-bottom: 10px;

        @media (max-width: $small-screen-size) {
            font-size: $big-font-size;
        }
    }

    .welcome-message {
        font-size: $normal-font-size;
        color: $white;
        line-height: 20px;
        text-align: center;
        opacity: 0.8;
    }

    .features-holder {
        margin: 20px;
        display: flex;
        justify-content: space-between;

        @media (max-width: $medium-screen-size) {
            flex-direction: column;
        }

        .welcome-feature {
            width: 220px;
            height: 280px;
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-direction: column;
            background: rgba(202, 223, 255, 0.2);
            mix-blend-mode: normal;
            margin: 5px 10px;
            backdrop-filter: blur(1000px);
            border-radius: 15px;
            padding: 10px 15px;
            color: $white;
            text-align: center;
            box-sizing: border-box;
            background: linear-gradient(0deg, #222a45, #222a45), #0f1229;

            @media (max-width: $medium-screen-size) {
                width: 100%;
                margin: 5px 0;
            }

            &-icon {
                display: flex;
                justify-content: center;
            }
            &-title {
                font-weight: $semi-bold-font-weight;
                font-size: $title-font-size;
                line-height: 25px;
            }

            &-message {
                font-size: $normal-font-size;
                text-align: center;
                opacity: 0.8;
                color: #a5bdd9;
                padding-bottom: 10px;
            }
        }
    }
    .continue-button-holder {
        margin: 30px;
        height: 54px;
        background: $btn-blue;
        border-radius: 16px;
    }
}
