@import '../../../variables';

.adv-staking-footer-links {
    display: flex;
    justify-content: center;
    font-weight: $normal-font-weight;
    font-size: $normal-font-size;
    color: $grey-text;
    padding: 20px;

    a {
        padding: 0 20px;
        color: $grey-text;

        &:hover {
            color: $white;
        }
    }
}
