$public-asset-row-background-color: rgba(75, 86, 107, 0.3);
$mint-button-background-color: rgba(71, 82, 103, 0.2);
$mint-button-color: #ffdfbd;

.public-asset-row {
    background: $public-asset-row-background-color !important;
    mix-blend-mode: normal;
    opacity: 0.7;
    box-sizing: border-box;
    backdrop-filter: blur(600px);
    border-radius: 16px !important;
    padding: 10px !important;

    .mint-button {
        background: $mint-button-background-color !important;
        color: $mint-button-color !important;
        padding: 10px 10px !important;
        border-radius: 8px;
        text-transform: capitalize;
    }
}
