@import '../../variables';

.assets-holder {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $large-screen-size) {
        width: auto;
        padding: 0 20px;
    }

    .assets-container {
        width: 100%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}
