.public-asset-container {
    margin-top: 25px;

    .MuiTableCell-root.MuiTableCell-head {
        font-size: 16px !important;
        vertical-align: middle;
    }

    table {
        min-width: 400px;
    }

    .icon {
        padding-left: 20px;
        position: relative;
        top: 3px;

        @media (max-width: 768px) {
            padding-left: 10px;
        }
    }

    .column-title {
        min-width: 180px;
    }
}
