@import '../../../../variables';

$private-zasset-row-background-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(0, 0, 0, 0) 100%
) !important;

.private-zasset-row {
    background: $private-zasset-row-background-color;
    mix-blend-mode: normal;
    opacity: 0.7;
    box-sizing: border-box;
    backdrop-filter: blur(600px);
    border-radius: 16px !important;
    padding: 10px !important;

    .more-items-cell {
        width: 12%;
    }

    .icon-cell {
        width: 15%;

        @media (max-width: 768px) {
            width: initial;
        }
    }

    .asset-balance {
        > p:first-child {
            color: $color-beige;
            font-weight: bold;

            > span {
                font-weight: bold;
                color: $color-beige;
            }
        }
    }

    .prp-reward-column {
        color: $color-beige !important;
    }
}
