.address-with-setting {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .address {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-copy-icon {
        opacity: 0.6;
        width: 21px;
        cursor: pointer;
    }
}
