.address-with-setting {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6px;

    .address {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .copy-icon-wrapper {
        padding-bottom: 10px;
    }

    .content-copy-icon {
        opacity: 0.6;
        width: 21px;
        cursor: pointer;
        position: relative;
        bottom: 5px;
    }
}
