@import '../../../variables.scss';

.adv-staking-footer-socials {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 20px 34px;

    @media (max-width: $medium-screen-size) {
        padding: 20px 0 20px 15px;
    }

    a {
        padding: 0 17px;

        img {
            width: 22px;
            height: 17px;
        }

        &:first-child {
            padding-left: 0;
        }
    }
}
