@import '../../../../variables';

.private-zAsset-row {
    background: transparent !important;
    opacity: 0.7;
    backdrop-filter: blur(600px);
    border-radius: 0px !important;
    padding: 15px !important;
    border: 2px solid white !important;

    .expand-icon {
        width: 3%;

        @media (max-width: 768px) {
            width: initial;
        }
    }

    .logo-cell {
        width: 10%;

        @media (max-width: 768px) {
            width: initial;
        }
    }
}
