@import '../../../../variables';

.private-zAsset-row {
    background: transparent;
    opacity: 0.7;
    backdrop-filter: blur(600px);
    border-radius: 0px;
    padding: 15px;
    border: 2px solid white;

    .expand-icon {
        width: 3%;

        @media (max-width: $medium-screen-size) {
            width: initial;
        }
    }

    .logo-cell {
        width: 10%;

        @media (max-width: $medium-screen-size) {
            width: initial;
        }
    }

    .prp {
        font-weight: $bold-font-weight !important;
        font-size: $normal-font-size;
        color: $color-beige !important;
    }
}
