@import '../../variables';

.nav-item a {
    font-size: $title-font-size;
    font-weight: $light-font-weight;
    color: $grey-text;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
        color: $white;
    }
}
