@import '../../variables';
.logout-button-holder {
    height: 100%;
    margin: 5px;

    .logout-button {
        color: $white;
        height: 50px;
        padding-left: 25px;
        padding-right: 25px;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        background: $grey-btn;
        border-radius: 8px;
        cursor: pointer;
        text-transform: capitalize;

        &:hover {
            background: $second-blue;
        }
    }
}
