@import '../../variables';

.logout-button-holder {
    height: 100%;

    .logout-button {
        color: $white;
        height: 100%;
        padding-left: 20px;
        padding-right: 15px;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        background: $grey-btn;
        border-radius: 8px;
        cursor: pointer;
    }
}
