@import '../../variables';

.logout-button-holder {
    height: 100%;

    .logout-button {
        color: $white;
        min-width: 200px;
        height: 50px;
        padding-left: 25px;
        padding-right: 25px;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        background: $grey-btn;
        border-radius: 8px;
        cursor: pointer;
        text-transform: capitalize;

        &:hover {
            background: $second-blue;
        }
    }
}
