@import '../../../variables';
$unstaking-info-background: rgba(99, 114, 136, 0.2);

.unstaking-info-container {
    background: $card-background !important;

    .unstaking-info-card-content {
        padding: 0px !important;
    }

    .unstaking-info-title {
        font-weight: 800 !important;
        font-size: 18px !important;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: #ffdfbd; /* FIXME: use common variable */
    }

    .unstaking-info-text {
        font-size: 16px;
        line-height: 25px;
        color: white;
        opacity: 0.8;
        padding: 5px 0;
        text-align: start;

        strong {
            opacity: 1;
        }
    }
}

.unstaking-info-message {
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 30px;
    background-color: $unstaking-info-background;
}
