@import '../../../variables';

.unstaking-info-container {
    background: $card-background !important;

    .unstaking-info-card-content {
        padding: 0px !important;
    }

    .unstaking-info-title {
        font-weight: $bold-font-weight !important;
        font-size: $title-font-size !important;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: $color-beige;
        /* FIXME: use common variable */
    }

    .unstaking-info-text {
        font-size: $normal-font-size;
        line-height: 25px;
        color: white;
        opacity: 0.8;
        padding: 5px 0;
        text-align: start;

        strong {
            opacity: 1;
        }
    }
}

.unstaking-info-message {
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 30px;
    background-color: $card-background-darker;
}
