@import '../../variables';

.sidebar-more-items {
    display: flex;
    justify-content: space-between;
    width: 52px;
    height: 52px;
    padding: 8px;
    margin-left: auto;
    margin-right: 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: linear-gradient(
            180deg,
            rgba(152, 195, 245, 0.05) 0%,
            rgba(152, 195, 245, 0) 72%
        ),
        rgba(164, 183, 219, 0.1);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 15%);
    backdrop-filter: blur(18px);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        border: 1px solid $dropdown-border-color;
    }

    label {
        top: 0;
        left: 0;
        transition: none;
        transform: none;
        color: $white;
        cursor: pointer;

        svg {
            width: 33px;
            height: 33px;
        }

        &:focus {
            top: 10px;
            left: 10px;
        }
    }

    @media (max-width: $medium-screen-size) {
        margin-right: 0;
    }
}
