@import '../../../variables';

.staking-info-container {
    // background: $card-background  !important;

    .staking-info-card-content {
        padding: 0px !important;
    }

    .staking-info-title {
        font-weight: $bold-font-weight !important;
        font-size: $title-font-size !important;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: $color-beige !important;
        /* FIXME: use common variable */
    }

    .staking-info-text {
        font-size: $normal-font-size;
        line-height: 25px;
        color: white;
        opacity: 0.8;
        padding: 5px 0;
        text-align: start;

        strong {
            opacity: 1;
        }
    }
}
