@import '../../../variables.scss';

.unstake-row-holder {
    .unstake-row-description {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
            align-items: start;
            font-weight: $light-font-weight;
            font-size: $small-font-size;
            color: #9e9e9e;
            text-align: left;
        }

        .date {
            font-weight: $light-font-weight;
            font-size: $small-font-size;
            color: $white;
            text-align: left;
        }

        &:first-child {
            width: 190px;
        }
    }

    .prp {
        color: #9e9e9e !important;
        font-size: $normal-font-size;

        .plus {
            position: relative;
            top: 10px;
        }
        .amount-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            bottom: 11px;

            .amount {
                margin-bottom: 2px;
            }
        }
    }
}
