@import '../../variables';

.staking-tab-holder {
    margin-top: 22px;
    .staking-info-card {
        background: rgba(38, 45, 70, 1);
        border-radius: 13px;
        mix-blend-mode: normal;
        margin: 32px 0 27px 0;
        padding: 30px 16px 18px;

        @media (max-width: $medium-screen-size) {
            background: transparent;
            border: none;
            padding: 0;
            margin: 28px 0 25px 0;
        }

        .staking-info-card-content {
            padding: 12px 16px;
        }
    }

    .buttons-holder {
        background: $buttons-holder-background-color;
        border-radius: 16px;

        @media (max-width: $medium-screen-size) {
            margin: 0 5px;
            height: 54px;
        }

        &.active {
            background-color: $second-blue;

            .staking-button {
                opacity: 1;
                color: $white !important;
            }
        }
    }

    .staking-button {
        height: 80px;
        padding: 0;
        width: 100%;
        color: $semi-grey-text !important;
        font-weight: $semi-bold-font-weight !important;
        font-size: $normal-font-size !important;
        text-transform: none !important;
        display: flex;
        align-items: center;
        text-align: center;

        @media (max-width: $medium-screen-size) {
            padding-bottom: 30px;
            font-size: $title-font-size;
        }
    }

    .staking-info-container {
        flex-direction: column;
        text-align: start;
        border: none;
        background: transparent;
        padding: 0 23px;

        @media (max-width: $medium-screen-size) {
            padding: 0 16px;
        }

        .staking-info-title {
            font-weight: $semi-bold-font-weight !important;
            font-size: $normal-font-size !important;
            display: flex;
            align-items: center;
            color: $white;

            div {
                width: 20px;
                margin-right: 10px;

                img {
                    max-width: 100%;
                }
            }
        }

        .stake-info-text {
            font-size: $normal-font-size;
            color: $white;
            line-height: 22px;
            opacity: 0.8;
            padding: 20px 0;
            text-align: start;

            @media (max-width: $medium-screen-size) {
                font-size: $tiny-font-size;
                padding: 0;
                margin-top: 16px;
                margin-bottom: 27px;
            }

            .strong-subtext {
                @media (max-width: $medium-screen-size) {
                    font-size: $tiny-font-size;
                    padding-left: 0;
                }
            }
        }
    }
}
