@import '../../variables';

$staking-tab-background: rgba(99, 114, 136, 0.2);
$staking-info-background: rgba(99, 114, 136, 0.15);
$buttons-holder-background-color: #4c5873;
$staking-info-title-background-color: #ffdfbd;
$staking-method-title-color: #d8d8d8;
$token-balance-color: #ffdfbd;
$staking-input-container-color: #ffdfbd;
$input-disabled-color: #6c757e;
$staking-input-max-button-color: #ffdfbd;

.staking-tab-holder {
    .staking-info-card {
        background: $staking-info-background !important;
        border-radius: 8px !important;
        mix-blend-mode: normal;
        backdrop-filter: blur(45px);
        margin: 32px 0;

        .staking-info-card-content {
            padding: 12px 16px;
        }
    }

    .buttons-holder {
        background: $buttons-holder-background-color !important;
        border-radius: 16px;
        height: 80px;

        &.active {
            background-color: $second-blue !important;

            .staking-button {
                opacity: 1;
            }
        }
    }

    .staking-button {
        height: 80px;
        padding: 0;
        width: 100%;
        color: $white !important;
        font-weight: bold !important;
        font-size: $title-font-size !important;
        text-transform: none !important;
        display: flex;
        align-items: center;
        text-align: center;
        opacity: 0.7;
    }

    .staking-info-container {
        flex-direction: column;
        text-align: start;
        border: none;
        background: transparent;
        padding: 0 16px;

        .staking-info-title {
            font-weight: $semi-bold-font-weight !important;
            font-size: $normal-font-size !important;
            display: flex;
            align-items: center;
            color: $white;

            div {
                width: 20px;
                margin-right: 10px;

                img {
                    max-width: 100%;
                }
            }
        }

        .staking-info-text {
            font-size: $normal-font-size;
            color: $white;
            line-height: 22px;
            opacity: 0.8;
            padding: 20px 0;
            text-align: start;
        }
    }

    .advanced-staking-rewards {
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        width: 100%;
        background: transparent;

        .MuiBox-root {
            background-color: transparent;
        }

        .advanced-staking-rewards-title {
            font-weight: $bold-font-weight;
            font-size: $normal-font-size;
            padding: 10px 16px;
            background: linear-gradient(92.53deg, #ffdfbd 0%, #d0a7a8 95.77%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .advanced-staking-rewards-container {
            background: $staking-tab-background;
            padding: 5px 16px;
            border-radius: 10px;
            flex-direction: column;
            width: 100% !important;

            .advanced-staking-rewards-content {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-weight: $normal-font-weight;
                    font-size: $normal-font-size;
                    line-height: 38px;
                    display: flex;
                    align-items: center;
                    background: $white;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;

                    div {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            max-width: 100%;
                        }
                    }
                }

                .amount {
                    font-weight: $bold-font-weight;
                    font-size: $normal-font-size;
                    text-align: right;
                    background: linear-gradient(
                        92.53deg,
                        #ffdfbd 0%,
                        #d0a7a8 95.77%
                    );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
    }

    .staking-input-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;

        .amount-to-stake-caption {
            font-weight: $normal-font-weight;
            font-size: $normal-font-size;
            color: white;
            line-height: 42px;
            display: flex;
            align-items: center;
        }

        .available-to-stake-caption {
            color: white;
            font-weight: $normal-font-weight;
            font-size: $normal-font-size;
            line-height: 42px;
            align-items: center;
            text-align: right;
            opacity: 0.5;
        }

        .token-balance {
            font-weight: $bold-font-weight;
            font-size: $normal-font-size;
            line-height: 42px;
            align-items: center;
            color: $token-balance-color;
            margin-left: 10px;
        }
    }

    .staking-input-container {
        background-color: rgba(30, 37, 57, 0.25);
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid $staking-input-container-color;
        border-radius: 15px;

        .staking-input {
            border: 0;
            font-weight: $bold-font-weight;
            font-size: $larger-font-size;
            color: white;
            padding: 0;
            width: 100%;
        }

        input {
            color: white !important;
            text-align: start;
        }

        .staking-input-max {
            color: #ffdfbd;
            border: 2px solid #ffdfbd;
            font-size: $normal-font-size;
            cursor: pointer;
            line-height: initial;
            margin: 0 15px;
            background: #1e2539;
            border-radius: 18px;
            padding: 7px 15px;
        }

        .MuiInputBase-input.MuiInput-input.Mui-disabled {
            -webkit-text-fill-color: $input-disabled-color;
        }

        .staking-input-box {
            display: flex;
            align-items: center;

            &-inner {
                display: flex;
                align-items: center;
            }
        }

        .staking-input-symbol {
            display: flex;
            align-items: center;
            color: $white;
            padding-left: 10px;

            .staking-symbol-holder {
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-radius: 8px;
                width: 100px;

                img {
                    width: 30px;
                    height: 26px;
                }

                span {
                    color: #999999;
                    font-weight: $normal-font-weight;
                    font-size: $header-font-size;
                    line-height: 42px;
                }
            }
        }

        .staking-input-box-logo {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media (max-width: 600px) {
        .staking-input-header {
            flex-direction: column-reverse !important;
            margin: 6px;
        }
    }
}
