@import '../../variables';

.wallet-btn-holder {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 1rem 0 $header-box-shadow;
    background: $second-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px;

    .wallet-btn {
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        color: $white;
        text-decoration: none;
        font-weight: $bold-font-weight;
        font-size: $title-font-size;
        text-transform: initial;
    }
}
