@import '../../variables';

.balance-card {
    background-color: #2b334140 !important;
    border: 1px solid #485267;
    border-radius: 8px !important;
    box-sizing: border-box;
    margin-bottom: 20px !important;
    mix-blend-mode: normal;
    backdrop-filter: blur(50px);

    .zkp-symbol {
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        line-height: 42px;
        margin-left: 8px;
    }

    .token-balance {
        font-size: 16px;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .total-balance {
        background: #63728835;
        border-radius: 8px;
        padding: 0 15px;

        .title-box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                opacity: 0.5;
            }
        }

        .amount-box {
            display: flex;
            align-items: center;

            .token-balance {
                font-weight: bold;
                font-style: normal;
                font-size: 39px;
                line-height: 19px;
            }

            .token-market-price {
                font-weight: normal;
                font-style: normal;
                font-size: 18px;
                line-height: 42px;
                opacity: 0.8;
            }
        }
    }

    .address-balance {
        padding: 0 15px;

        .title-box {
            display: flex;
            align-items: baseline;

            img {
                opacity: 0.5;
            }
        }

        .amount-box {
            display: flex;
            justify-content: space-between;

            .balance-box {
                display: flex;
                justify-content: center;

                .balance {
                    font-weight: 800;
                    font-style: normal;
                    font-size: 21px;
                    line-height: 42px;
                }
            }

            .token-balance {
                font-weight: 800;
                font-style: normal;
                font-size: 21px;
                line-height: 42px;
            }

            .amount-usd {
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                line-height: 42px;
                opacity: 0.8;
            }
        }
    }
}

.title {
    height: 35px;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 42px;
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.address-with-setting {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;

    .address {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .setting-icon {
        display: flex;
        width: 50%;
        justify-content: end;
        opacity: 0.6;
    }
}

@media (max-width: 600px) {
    .address-container {
        width: 100% !important;
    }
}
