@import '../../variables';

.balance-card-holder {
    .balance-card {
        background-color: $card-background-darker !important;
        border: 1px solid transparent;
        border-radius: 22px !important;
        box-sizing: border-box;
        margin-bottom: 25px !important;
        mix-blend-mode: normal;
        backdrop-filter: blur(50px);
        padding: 16px 16px 24px;

        &-address-holder {
            display: flex;
            align-content: center;
            justify-content: space-between;
            padding: 0 0 20px;
        }

        &-account-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .network-logo-holder {
                width: 56px;
                height: 52px;
                border: 1px solid $grey-btn-border;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;

                img {
                    width: 26px;
                    height: 23px;
                }
            }
        }

        @media (min-width: $smaller-screen-size) and (max-width: $medium-screen-size) {
            position: relative;
            top: 100px;
        }

        @media (max-width: $smaller-screen-size) {
            position: relative;
            top: 150px;
        }

        .zkp-symbol {
            font-weight: $semi-bold-font-weight;
            font-size: $title-font-size;
            line-height: 42px;
            margin-left: 2px;

            padding-top: 2px;
            &.main-symbol {
                font-size: $big-font-size;
            }
        }

        .not-connected-balance-container {
            display: flex;
            align-items: flex-start;
        }

        .balance-not-connected {
            text-align: left;
            text-decoration: underline;
            padding-top: 12px;
        }
    }

    .title {
        height: 35px;
        font-size: $title-font-size !important;
        display: flex;
        align-items: center;
        opacity: 0.6;
    }

    @media (max-width: 600px) {
        .address-container {
            width: 100% !important;
        }
    }
}
