@import '../../variables';

.address-balance {
    height: 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: $white;
    opacity: 0.6;
}
@media (max-width: 600px) {
    .address-container {
        width: 100% !important;
    }
}
