@import '../../variables';

.app-bar {
    background-color: $transparent !important;
    box-shadow: none !important;
    color: $white;
    padding-top: 16px;

    .nav-bar {
        align-items: center;
        display: flex;

        .logo {
            margin-right: 10px;
            width: 10%;
        }

        .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            padding-right: 5px;
            margin: 0px 10px;
        }

        .nav-item a {
            font-size: 18px;
            font-weight: 400;
            color: $grey-text;
            cursor: pointer;
            padding-left: 10px;

            &:hover {
                color: $white;
            }
        }

        .nav-item.active-item a {
            color: $white;
            font-size: 18px;
            font-weight: 800;
        }
    }

    .addresses-box {
        display: flex;
        justify-content: space-between;
        width: 279px;
        height: 45px;
        margin: 0 5px;
        padding: 8px;
        background: $button-holder;
        border-radius: 8px;
    }

    .addresses-box .MuiTypography-subtitle2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-gray;
        width: 75px;
        border-radius: 8px;
    }

    .addresses-box .MuiInput-root {
        margin-top: 0;
    }

    .addresses-box .MuiInputLabel-root {
        top: -12px;
        color: $white;
    }

    .addresses-box .MuiFilledInput-root {
        background-color: $transparent !important;
    }

    .addresses-box .MuiFilledInput-root:before,
    .addresses-box .MuiFilledInput-root:after {
        display: none;
    }

    .MuiSelect-select {
        padding: 4px !important;
        color: $white !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .MuiSvgIcon-root {
        color: $white !important;
    }

    .account-avatar {
        padding: 0 25px;
    }

    .address-btn {
        max-width: 220px;
        width: 100%;
    }

    .header-right-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .address-and-balance-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        padding: 0 8px;
        background: #63728835;
        background: $balance-card-background;
        border-radius: 8px;
        min-height: 50px;

        .account-balance {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 42px;
            padding: 8px 8px;
            margin: 0 20px;
            height: 35px;
            min-width: 115px;
            background: rgba(120, 154, 205, 0.2);
            border-radius: 8px;
            .currency-symbol {
                color: $muted-text;
            }
        }
    }

    @media (max-width: 600px) {
        .header-right-container {
            flex-direction: column !important;
            justify-content: space-between !important;
            height: 200px;
        }
    }
}
