@import '../../variables';

.app-bar {
    background-color: $transparent !important;
    box-shadow: none !important;
    color: $white;
    padding-top: 16px;
}

.nav-item a {
    font-size: 18px;
    font-weight: 400;
    color: $grey-text;
    cursor: pointer;

    &:hover {
        color: $white;
    }
}

.nav-item.main-navigation a {
    color: $white;
    font-size: 18px;
    font-weight: 800;

    border-bottom-style: solid;
    border-bottom-color: #d0a7a8;
    border-bottom-width: 4px;

    // color: $white;
    // font-size: 18px;
    // font-weight: 800;

    // border: 0px;
    // border-bottom: 6px solid;
    // border-bottom-color: linear-gradient(
    //     to right,
    //     rgb(0, 210, 255),
    //     rgb(58, 123, 213)
    // );
}

.more-item {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    background: $button-holder;
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);

    border-radius: 8px;
}

.addresses-box {
    display: flex;
    justify-content: space-between;
    width: 279px;
    height: 45px;
    margin: 0 5px;
    padding: 8px;
    background: $button-holder;
    border-radius: 8px;
}

.addresses-box .MuiTypography-subtitle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-gray;
    width: 75px;
    border-radius: 8px;
}

.addresses-box .MuiInput-root {
    margin-top: 0;
}

.addresses-box .MuiInputLabel-root {
    top: -12px;
    color: $white;
}

.addresses-box .MuiFilledInput-root {
    background-color: $transparent !important;
}

.addresses-box .MuiFilledInput-root:before,
.addresses-box .MuiFilledInput-root:after {
    display: none;
}

.MuiSelect-select {
    padding: 4px !important;
    color: $white !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.MuiSvgIcon-root {
    color: $white !important;
}

.account-avatar {
    padding: 0 25px;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 5px;
}

.address-btn {
    .currency-navi-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .currency-logo {
            display: none;
        }

        .navi-btn-text-hold {
            display: inline-block;
            align-items: center;

            .front-text {
                background: $grey-btn;
                font-weight: 800;
                border-radius: 8px;
                display: inline-block;
                margin: 0 15px 0 0;
                padding-left: 15px;
                padding-right: 15px;
                vertical-align: middle;
            }

            .main-text {
                font-size: 14px;
                font-weight: 800;
                color: $white;
                opacity: 1;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
            }
        }
    }
}

@media (max-width: 600px) {
    .header-right-container {
        flex-direction: column !important;
        justify-content: space-between !important;
        height: 200px;
    }
}
