@import '../../../../variables.scss';

.redeem-button.MuiButtonBase-root.MuiButton-root {
    background: $btn-blue;
    color: $white;
    padding: 10px 20px;
    margin: 10px 15px;
    border-radius: 8px;
    text-transform: none;
}
