@import '../../../../variables.scss';

.redeem-button.MuiButtonBase-root.MuiButton-root {
    height: 36px;
    width: 131px;
    background: $btn-blue;
    color: $white;
    padding: 10px 0 12px;
    margin: 10px 0;
    border-radius: 8px;
    text-transform: none;
    font-weight: $semi-bold-font-weight;
    line-height: normal;

    @media (max-width: $medium-screen-size) {
        width: 100%;
        height: 36px;
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.12) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #205bea;
        border-radius: 10px;
        margin: 0;
    }
}

.locked-button {
    background: rgba(164, 183, 219, 0.1) !important;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.15) !important;
    backdrop-filter: blur(36px) !important;
}
