@import '../../../variables';

.nav-bar {
    align-items: center;
    display: flex;

    .logo {
        margin-right: 10px;
        width: 10%;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 5px;
        margin: 0px 10px;
    }

    .nav-item a {
        font-size: $title-font-size;
        font-weight: $light-font-weight;
        color: $grey-text;
        cursor: pointer;
        padding-left: 10px;

        &:hover {
            color: $white;
        }
    }

    .nav-item.active-item a {
        color: $white;
        font-size: $title-font-size;
        font-weight: $bold-font-weight;
    }
}
