@import '../../../variables';

.nav-bar {
    align-items: center;
    display: flex;

    @media (max-width: $medium-screen-size) {
        flex-direction: column !important;
        gap: 20px !important;
        margin-bottom: 20px !important;
    }

    .logo {
        margin-right: 10px;
        width: 10%;

        @media (max-width: $medium-screen-size) {
            margin-right: 0 !important;
        }
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;

        @media (max-width: $medium-screen-size) {
            padding: 0 !important;
        }

        &.selected {
            a {
                color: $white;
            }
        }
    }

    .nav-item.active-item a {
        color: $white;
        font-size: $title-font-size;
        font-weight: $bold-font-weight;
    }
}
