@import '../../../variables';

.wallet-header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: $medium-screen-size) {
        width: 50%;
    }

    .addresses-box {
        display: flex;
        justify-content: space-between;
        width: 279px;
        height: 45px;
        margin: 0 5px;
        padding: 8px;
        background: $buttons-holder-background-color;
        border-radius: 8px;
    }

    .addresses-box .MuiTypography-subtitle2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $dark-gray;
        width: 75px;
        border-radius: 8px;
    }

    .addresses-box .MuiInput-root {
        margin-top: 0;
    }

    .addresses-box .MuiInputLabel-root {
        bottom: 12px;
        color: $white;
    }

    .addresses-box .MuiFilledInput-root {
        background-color: $transparent !important;
    }

    .addresses-box .MuiFilledInput-root:before,
    .addresses-box .MuiFilledInput-root:after {
        display: none;
    }

    .MuiSelect-select {
        padding: 4px !important;
        color: $white !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .MuiSvgIcon-root {
        color: $white !important;
    }

    .account-avatar {
        padding: 0 25px;
    }

    .address-btn {
        max-width: 220px;
        width: 100%;

        @media (max-width: $normal-screen-size) {
            width: 100px;
        }

        button {
            width: 220px;
            height: 45px;
            font-weight: $normal-font-weight;

            @media (max-width: $normal-screen-size) {
                height: 33px;
            }
            span {
                @media (max-width: $normal-screen-size) {
                    display: none;
                }
            }
            &::after {
                @media (max-width: $normal-screen-size) {
                    content: 'Connect';
                    font-size: 13px;
                }
            }
        }
    }

    .header-right-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .address-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        padding: 0 8px;
        border-radius: 8px;
        min-height: 50px;
    }

    @media (max-width: 600px) {
        .header-right-container {
            flex-direction: column !important;
            justify-content: space-between !important;
            height: 200px;
        }
    }
}
